@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2 bg-dark text-white min-vh-100">
            <div class="p-3">
                <h5 class="text-white mb-4">CRM System</h5>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/">
                            📊 Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/kunden">
                            👥 Kunden
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/aufgaben">
                            📋 Aufgaben
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/benutzer">
                            👤 Benutzer
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Main content -->
        <div class="col-md-9 col-lg-10">
            <div class="p-4">
                @Body
            </div>
        </div>
    </div>
</div>